<div class="container-fluid">

    <div class="row pt-3">

        <!-- player stat by team -->
        <div class="col-6">
            <h5 class="text-dark-gray mb-3">Player Stats By Team</h5>

            <div class="mt-3 mb-3">
                <select>
                <option value="1">Team A</option>
                <option value="2">Team B</option>
                <option value="3">Team C</option>
                <option value="4">Team D</option>
              </select>
            </div>

            <div class="list-group mt-3 mb-3 custom-scrollbar mvh-65">

                <!-- team score item -->
                <div class="custom-list-item list-group-item align-items-start p-2 m-0">
                    <div class="row">
                        <div class="col text-center">
                            <img src="../../assets/img/players/img_player_default.svg" class="w-20" />
                        </div>
                    </div>
                    <div class="pt-1 text-center">
                        <small class="text-dark-mid-gray" style="font-size: 0.8em;">Player name</small>
                    </div>
                    <table class="score-stat-table table table-borderless table-sm m-1">
                        <tbody>
                            <tr>
                                <th scope="col">Height</th>
                                <td>Team 1</td>
                            </tr>
                            <tr>
                                <th scope="col">Average score</th>
                                <td>56</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end team score item -->

            </div>

        </div>
        <!-- end player stat by team -->

        <!-- player stat by team -->
        <div class="col-6">
            <h5 class="text-dark-gray mb-3">Player Stats By Game</h5>

            <div class="mt-3 mb-3">
                <select>
                <option value="1">Team A</option>
                <option value="2">Team B</option>
                <option value="3">Team C</option>
                <option value="4">Team D</option>
              </select>
            </div>

            <div class="list-group mt-3 mb-3 custom-scrollbar mvh-65">

                <!-- team score item -->
                <div class="custom-list-item list-group-item align-items-start p-2 m-0">
                    <div class="row">
                        <div class="col text-center">
                            <img src="../../assets/img/players/img_player_default.svg" class="w-20" />
                        </div>
                    </div>
                    <div class="pt-1 text-center">
                        <small class="text-dark-mid-gray" style="font-size: 0.8em;">Player name</small>
                    </div>
                    <table class="score-stat-table table table-borderless table-sm m-1">
                        <tbody>
                            <tr>
                                <th scope="col">Height</th>
                                <td>Team 1</td>
                            </tr>
                            <tr>
                                <th scope="col">Average score</th>
                                <td>56</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end team score item -->

            </div>

        </div>
        <!-- end player stat by team -->

    </div>

</div>