<div class="container-fluid">

    <div class="row pt-3">

        <!-- teams summery -->
        <div class="col-4 p-1 custom-scrollbar mvh-80">
            <h5 class="text-dark-gray mb-3">Teams</h5>

            <div class="list-group mt-3 mb-3">

                <!-- team score item -->
                <div class="custom-list-item list-group-item align-items-start p-2 m-0">
                    <div class="row">
                        <div class="col text-center">
                            <img src="../../assets/img/teams/img_team_knicks.png" class="w-20" />
                        </div>
                    </div>
                    <div class="pt-1 text-center">
                        <small class="text-dark-mid-gray" style="font-size: 0.8em;">New York Knocks</small>
                    </div>
                    <table class="score-stat-table table table-borderless table-sm m-1">
                        <tbody>
                            <tr>
                                <th scope="col">Team name</th>
                                <td>Team 1</td>
                            </tr>
                            <tr>
                                <th scope="col">Average score</th>
                                <td>70%</td>
                            </tr>
                            <tr>
                                <th scope="col">Best score</th>
                                <td>56</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end team score item -->

            </div>
        </div>
        <!-- end teams summery -->


        <!-- teams matches -->
        <div class="col-4 p-1 custom-scrollbar mvh-80">
            <h5 class="text-dark-gray mb-3">Game stats</h5>

            <div class="list-group mt-3 mb-3">

                <!-- team score item -->
                <div class="custom-list-item list-group-item align-items-start p-2 m-0">

                    <table class="score-stat-table table table-borderless table-sm m-1">
                        <tbody>
                            <tr>
                                <th scope="col">Team A</th>
                                <td>80</td>
                            </tr>
                            <tr>
                                <th scope="col">Team B</th>
                                <td>82</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- end team score item -->

            </div>
        </div>
        <!-- end teams matches -->


        <!-- score stats -->
        <div class="col-4 p-1 custom-scrollbar mvh-80">
            <h5 class="text-dark-gray mb-3">Score Stats</h5>

            <div class="list-group mt-3 mb-3">

                <!-- team score stat item -->
                <div class="custom-list-item list-group-item align-items-start p-2 m-0">

                    <div class="row mr-2">
                        <div class="col">
                            <table class="score-stat-table table table-borderless table-sm m-1">
                                <tbody>
                                    <tr>
                                        <th scope="col">Field goals(%)</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">3 points(%)</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Free throws(%)</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Rebounds</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Offensive</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Assists</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Blocks</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Steals</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Points in the paint</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Fouls - personal</th>
                                        <td class="pr-1">12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- end team score stat item -->

            </div>

        </div>
        <!-- end score stats -->

    </div>

</div>