<div class="container-fluid">

    <div class="row pt-3">

        <!-- all user login details -->
        <div class="col-8 pr-2 custom-scrollbar mvh-80">
            <h5 class="text-dark-gray mb-3">User Details</h5>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col" class="text-right">Number of login</th>
                        <th scope="col" class="text-right">Total time spent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td class="text-right">5</td>
                        <td class="text-right">5h</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td class="text-right">6</td>
                        <td class="text-right">2d 3h</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end all user login details -->

        <!-- current logged-in user details -->
        <div class="col pl-2 custom-scrollbar mvh-80">
            <h5 class="text-dark-gray mb-3">Currently Logged</h5>

            <div class="list-group">

                <div class="list-group-item align-items-start p-0 m-0">
                    <table class="table table-borderless table-sm score-summery-thead m-1">
                        <tbody>
                            <tr>
                                <th scope="col">User name</th>
                                <td>Nisal Malinga</td>
                            </tr>
                            <tr>
                                <th scope="col">Logged time</th>
                                <td>05 : 27 am</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- end current logged-in user details -->

    </div>

</div>