<div class="list-group custom-scrollbar mvh-80">

    <!-- team score item -->
    <div class="list-group-item align-items-start">
        <div class="row">
            <div class="col uk-text-small text-dark-gray font-weight-bold">12 th of November, 2019</div>
        </div>

        <!-- score summery panel -->
        <div class="row mt-3">
            <div class="col-2"></div>

            <div class="col-3">
                <div class="row">
                    <div class="col text-center">
                        <img src="../../assets/img/teams/img_team_heats.png" class="w-50" />
                    </div>
                </div>
                <div class="pt-1 text-center">
                    <small class="text-dark-mid-gray" style="font-size: 0.8em;">Miami Heat</small>
                    <br/>
                    <small class="text-light-gray" style="font-size: 0.8em;">(21-8)</small>
                </div>
            </div>

            <div class="col-2 text-center">
                <h3 class="text-dark-mid-gray font-weight-bold">-</h3>
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col text-center">
                        <img src="../../assets/img/teams/img_team_knicks.png" class="w-50" />
                    </div>
                </div>
                <div class="pt-1 text-center">
                    <small class="text-dark-mid-gray" style="font-size: 0.8em;">New York Knocks</small>
                    <br/>
                    <small class="text-light-gray" style="font-size: 0.8em;">(21-8)</small>
                </div>
            </div>

            <div class="col-2"></div>
        </div>
        <!-- end score summery panel -->

        <div class="row">
            <div class="col">
                <hr/>
            </div>
        </div>

        <!-- team score sessions -->
        <div class="row">
            <div class="col">
                <table class="table table-borderless table-sm score-summery-thead">
                    <thead>
                        <tr>
                            <th scope="col" class="w-60">Team</th>
                            <th scope="col" class="text-center">1</th>
                            <th scope="col" class="text-center">2</th>
                            <th scope="col" class="text-center">3</th>
                            <th scope="col" class="text-center">4</th>
                            <th scope="col" class="text-center">T</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Miami Heat</td>
                            <td class="text-center">10</td>
                            <td class="text-center">50</td>
                            <td class="text-center">60</td>
                            <td class="text-center">10</td>
                            <td class="text-center">100</td>
                        </tr>
                        <tr>
                            <td>New York Knocks</td>
                            <td class="text-center">10</td>
                            <td class="text-center">50</td>
                            <td class="text-center">60</td>
                            <td class="text-center">10</td>
                            <td class="text-center">100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end team score sessions -->

    </div>
    <!-- end team score item -->

</div>